body {
     
}

h1 {
  font-family: arial; color: slateblue;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: arial; color: slateblue;
    text-align: center;
}
    

h1, div, h2, h3, p, li {
  font-family: Helvetica;
  text-align: center;

}

.div {
    text-indent: 50px;
    text-align: center;
}
    

h1 {
    background-color: cyan;
    text-align: center;
}

div {
    background-color: slateblue;
    color: azure;
    display: block;
    width: 300px;
    border: 25px lightgray;
    padding: 50px;
    margin: 50px;

    
}

p {
    background-color: white;
    font-family: Georgia;
    font-size: 12px;
}

ul li {
    background: lightgray;
    padding: 5px;
    margin-left: 35px;
}

.heading {
    background-color: #F1F1F1;
    padding: 20px;
    
    
}
